<ion-menu side="start" menuId="primerMenu" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-menu-toggle *ngFor="let c of componentes | async">

        <ion-item [routerLink]="c.redirectTo">
                   <ion-icon slot="start" [name]="c.icon"></ion-icon>
                   <ion-label>  {{ c.name }} </ion-label>
        </ion-item>
       </ion-menu-toggle>
    </ion-list>

  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
    <h1 class="title" style="text-align: center">Alumno: Luis Enrique</h1>
  </ion-toolbar>
  </ion-footer>
  


</ion-menu>

